#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Keyboard On/Off
Exec=bash /.KeyBoardDisable.sh
Comment=Disable or enable keyboard and touchpad with one click.
Terminal=false
Icon=
Type=Application
