#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Keyboard On/Off
Exec=bash /home/gobi-wan/Desktop/.KeyBoardDisable.sh
Comment=Disable or enable keyboard and touchpad with one click.
Terminal=false
Icon=/home/gobi-wan/Pictures/keyboard.png
Type=Application